.content-container {
    margin: 0 auto;
    width: 1140px;
}

header {
    height: 325px;
    background-image: url('/images/panorama-utrecht.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Main navigation */
nav {
    background-color: #CCC;

    ul {
        margin: 6px;
        display: inline-block;
    }
    li {
        display: inline-block;
    }
}


/* Index page - 3-column layout */

.col {
    width: 340px;
    display: inline-block;
}
