.content-container {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    height: 325px;
    background-image: url('/images/panorama-utrecht.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #CCC;

    ul {
        margin: 6px;
        display: inline-block;
    }
    li {
        display: inline-block;
    }
}

