<ul class="events-list">
    {% for post in site.posts limit:5 %}
    <li class="event-preview">
        <i class="icon-calendar event-icon"></i>
        <div class="event-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="event-meta">
            <span class="event-date">{{ post.event_date }}</span>,
            <span class="event-location">Neude 4, Utrecht <span class="location-map">(<a href="">map</a>)</span></span>
        </div>
    </li>
    {% endfor %}

</ul>
